<!DOCTYPE html>
<html ng-app="continental">
  <%- include("imports/cabecera.ejs") %>
  <body ng-controller="PermisosCtrl as vm">
    <%- include("imports/navbar.ejs") %>
	
	
	
	<%- include("imports/scripts-angular.ejs") %>
	<script src="/javascripts/perm-controller.js"></script>
  </body>
</html>